* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Montserrat;
    background-color: #497b7f;
}

.container {
    padding: 0 150px;
}
.logo {
    margin-left: 40px;
    color: #e7b271;
    
}

.header__block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}

.cart {
    width: 50px;
    height: 40px;
}
.cart__btn {
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: #497b7f;
    cursor: pointer;
    margin-right: 40px;
    cursor: pointer;
}

.line {
    border: 2px solid #e7b271;
    width: 100%;
    margin-top: 30px;
}

.main__title_block {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.main__title {
    color: #e7b271;
}

.main__wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.products__block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    border: 5px solid #e7b271;
    margin: 25px 0;
    padding: 20px;
}

.title {
    font-family: Montserrat;
    font-size: 20px;
}
.content__block {
    margin: 10px;
    
}
.product {
    margin-bottom: 10px;
    margin-top: 25px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    margin: 10px;
    border: 2px solid #e7b271;
}

.btns__block {
    display: flex;

}
.product__border {
    display: flex;
    justify-content: center;
    padding: 10px 15px;
    border-radius: 10px;
    border: 2px solid #e7b271;
    background-color: #2f4f52;
    margin-bottom: 10px;
}

.cart__btn__inlist {
    background-color: grey;
    width: 100%;
    margin-top: 10px;
    border: none;
    border-radius: 6px;
    padding: 10px 15px;
    font-family: Montserrat;
    cursor: pointer;
    text-decoration: none;
    color: #e7b271;
    text-align: center;
}

.link_cart {
    text-decoration: none;
    color: #e7b271;
}

.products__block {
    width: 50%;
    margin-top: 50px;
}

.center {
    display: flex;
    justify-content: center;
}

.createBlock {
    border-radius: 8px;
    padding: 10px 15px;
}

.create {
    font-size: 30px;
    font-family: Montserrat;
    text-decoration: none;
    color: #e7b271;
}

.title, .content {
    font-size: 15px;
    color: #e7b271;
}

.pic {
    border-radius: 8px;
    width: 400px;
    height: 300px;
}